.post{
    width: 485px;
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: column;
}

.postImage{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postInfoTop{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.postCat{
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
font-size: 11px;
    color: #03288f;
    line-height: 19px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
}

.postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: #1d0808;
    margin-top: 15px;
}

.postDes {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
}